# Steps before installing packages with this .txt file:
# 1. Initiate a Python virtual environment (Python 3.9 - 3.12 & pip version >= 19.0)
# 2. Install TensorFlow and the prerequisite packages (See https://www.tensorflow.org/install/pip or similar links)
#   2a. Install NVIDIA GPU Drivers (>= 528.33)
#   2b. Install CUDA Toolkit 12.3
#   2c. Install cuDNN SDK 8.9.7
#   2d. (Optional) Install TensorRT
# 3. Install the packages with this .txt file
imbalanced-learn
keras-tuner
matplotlib
numpy
pandas
scikit-learn
scikeras
scipy
seaborn
wfdb
jupyterlab # Choose either Jupyter Lab
notebook # or Jupyter Notebook