# Steps before installing packages with this .txt file:
# 1. Initiate a Python virtual environment
# 2. Install TensorFlow and the prerequisite packages (See https://www.tensorflow.org/install/pip or similar links)
# 3. Install the packages with this .txt file
imbalanced-learn
keras-tuner
matplotlib
numpy
pandas
scikit-learn
scikeras
scipy
seaborn
wfdb
jupyterlab # Choose either Jupyter Lab
notebook # or Jupyter Notebook